<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ isEditMode ? 'Edit Client' : 'New Client' }}
                </h2>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto">
        <div class="max-w-full flex-auto pt-2 sm:p-10">
            <form [formGroup]="clientForm" class="flex flex-col px-8 pt-10 bg-card shadow rounded overflow-hidden">
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto">
                        <input matInput placeholder="First name" formControlName="firstName" />
                        <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_solid:user-circle"></mat-icon>
                        <mat-error *ngIf="clientForm.get('firstName').hasError('required')">First name is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <input matInput placeholder="Last name" formControlName="lastName" />
                        <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_solid:user-circle"></mat-icon>
                        <mat-error *ngIf="clientForm.get('lastName').hasError('required')">Last name is required.</mat-error>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput placeholder="Email address" formControlName="email" />
                        <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_solid:envelope"></mat-icon>
                        <mat-error *ngIf="clientForm.get('email').hasError('required')">Email is required.</mat-error>
                        <mat-error *ngIf="clientForm.get('email').hasError('email')">Enter a valid email.</mat-error>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput placeholder="Phone number" formControlName="phone" />
                        <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_solid:phone"></mat-icon>
                        <mat-error *ngIf="clientForm.get('phone').hasError('required')">Phone number is required.</mat-error>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput placeholder="Address" formControlName="address" />
                        <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_solid:map-pin"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput [matDatepicker]="picker2" placeholder="Mock driving test date" formControlName="testAppoinment" />
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput 
                        type="number" 
                        step="0.50" 
                        min="0"
                        max="100"
                        placeholder=" Test Score" formControlName="MockTestScore" />
                        <mat-icon class="icon-size-5" matSuffix svgIcon="heroicons_solid:receipt-percent"></mat-icon>
                        <mat-error *ngIf="clientForm.get('MockTestScore').hasError('pattern')">
                            Enter a valid number.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button mat-button type="submit" (click)="onCancel()">Cancel</button>
                    <button class="px-6 ml-3" mat-flat-button color="primary" (click)="onSave()">{{ isEditMode ? 'Update' : 'Add' }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
