<div class="flex flex-col flex-auto">
    <form class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto" (ngSubmit)="saveAppointment()">
        <!-- Header -->
        <div class="flex items-center justify-between -mt-3 -ml-4">
            <div class="text-xl font-medium">Client Mock Test</div>
            <!-- Actions -->
            <div class="flex items-center">
                <button type="button" class="flex-auto" mat-flat-button [color]="'primary'" (click)="newAppointment()">
                    New appointment
                </button>
            </div>
            <!-- Close button -->
            <div class="flex items-center justify-end">
                <a mat-icon-button (click)="closeDrawer()">
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </a>
            </div>
        </div>

        <!-- Information Section -->
        <div *ngIf="!showForm && client && client.tests.length > 0">
            <div *ngFor="let test of client.tests; let i = index" class="text-lg font-medium mt-8">#{{ i + 1 }}
            <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
                <div class="flex items-center justify-between py-3" *ngIf="test?.testAppoinment">
                    <div class="text-secondary">Test Date</div>
                    <div class="ng-star-inserted">{{ test.testAppoinment }}</div>
                    <div class="text-secondary">Test Score</div>
                    <div class="ng-star-inserted">{{ test.MockTestScore }}</div>
                </div>
                <div class="flex items-center justify-between py-3" *ngIf="test?.beginTest">
                    <div class="text-secondary">Start Test</div>
                    <div class="ng-star-inserted">{{ test.beginTest ? 'Started' : 'Finished or not yet' }}</div>
                    <div *ngIf="test?.adressMac" class="text-secondary">Station NB:</div>
                    <div class="ng-star-inserted" *ngIf="test?.adressMac">{{ client.adressMac }}</div>
                </div>
            </div>
        </div>
    </div>
        <!-- Form Section for New Appointment -->
        <div *ngIf="showForm || (client && client.tests.length === 0)">
            <div class="flex flex-col mt-4">
                <mat-form-field>
                    <mat-label>Test Appointment Date</mat-label>
                    <input
                        matInput
                        [matDatepicker]="picker1"
                        [(ngModel)]="newAppointmentDate" 
                        name="appointmentDate" required>
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Mock Test Score</mat-label>
                    <input matInput [(ngModel)]="newMockTestScore" name="mockTestScore" type="number" [disabled]="isStarted" required>
                </mat-form-field>

                <!-- Mark as ... button -->
                <button type="button" class="pr-4 pl-3.5" mat-button (click)="toggleCompleted()" [disabled]="newMockTestScore !== null">
                    <ng-container *ngIf="!isStarted">
                        <div class="flex items-center justify-center">
                            <mat-icon [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                            <span class="ml-2 font-semibold">Start the Test now</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="isStarted">
                        <div class="flex items-center justify-center">
                            <mat-icon class="text-primary" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                            <span class="ml-2 font-semibold">In hold</span>
                        </div>
                    </ng-container>
                </button>
                <mat-divider class="mt-6 mb-8"></mat-divider>
                <mat-form-field class="flex-auto">
                    <mat-select placeholder="Choose a station" [(ngModel)]="newStation" name="station" required>
                        <mat-option value="00:1A:2B:3C:4D:5E">Poste n*1</mat-option>
                        <mat-option value="01:1A:2B:3C:4D:5E">Poste n*2</mat-option>
                        <mat-option value="02:1A:2B:3C:4D:5E">Poste n*3</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Cancel/Done Button -->
                <button type="button" mat-button (click)="cancelAppointment()">
                    Cancel / Done
                </button>
                <div class="flex justify-between mt-4">
                    <button type="submit" mat-flat-button [color]="'primary'">
                        Save Appointment
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
